@import "fn"


html 
    -mx-text-size-adjust 100%  //禁止老年机调整字体大小
    -webkit-text-size-asjust 100%
*
    margin 0
    padding 0

body 
    line-height 1.5
    font-family $weuiFontDefault

a img 
    border 0
a
    text-decoration none
    setTapColor()
